.place-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
  }

  .place-form input{
  width: 100%;
  height: 50px;
  padding: 14px 20px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #88057d;
  }
  .btn{
    float: right;
    
  }